In [181]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd

In [127]:
# URL of Mars news site
url = 'https://mars.nasa.gov/news'

In [128]:
# Retrieve page with the requests module
response = requests.get(url)

In [129]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [130]:
#print(soup.prettify())

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
Assign the text to variables that you can reference later.

In [131]:
try:
    title = soup.find('div', class_='content_title').a.text
    paragraph= soup.find('div', class_='rollover_description_inner').text

except AttributeError as e:
    print(e)
        
print('Title: ' + title)
print('----------------')
print(paragraph)

Mars Helicopter Attached to NASA's Perseverance Rover


The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called

In [159]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

try:
    article_style = soup.find('article', class_='carousel_item')['style']
    url_start = article_style.find("url('")
    url_end = article_style.find("'_;")
    url = article_style[url_start+len("url('"):url_end]
    
except AttributeError as e:
    print(e)
    
featured_image_url = "https://www.jpl.nasa.gov" + url

print(f'featured_image_url = {featured_image_url}'')

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19404-1920x1200.jpg')

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
Save the tweet text for the weather report as a variable called mars_weather.

In [179]:
url= 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

try:
    mars_weather = soup.find_all('div', class_='js-tweet-text-container')[1].p.text
    print(f'mars_weather = {mars_weather}')
    
except AttributeError as e:
    print(e)

InSight sol 499 (2020-04-22) low -94.4ºC (-137.9ºF) high -3.6ºC (25.5ºF)
winds from the SW at 5.1 m/s (11.3 mph) gusting to 16.2 m/s (36.1 mph)
pressure at 6.70 hPapic.twitter.com/B29HO3oTeD

Mars Facts
Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
Use Pandas to convert the data to a HTML table string.

In [199]:
url = 'https://space-facts.com/mars/'
facts = pd.read_html(url)[0]
facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [202]:
facts = facts.rename(columns={0:'Property', 1: 'value'})

facts

               Property                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [203]:
facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Property</th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres
Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.